*{
	margin:0;padding:0;
}
header{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #F1F1F1;
}
.container{
	margin-right: auto;
	margin-left: auto;
}
@media screen and (min-device-width:768px){
	.container{
		width: 750px;
	}
}
@media screen and (min-device-width:992px){
	.container{
		width: 970px;
	}
}
@media screen and (min-device-width:1200px){
	.container{
		width: 1180px;
	}
}
.clear{
	clear: both;
}
header ul{
	list-style-type: none;
	font-size: 0.84em;
}
.fl{
	float: left;
}
li:hover .ci-right{
	transform:rotate(180deg);
}
.fl .dt{
	position: relative;
	padding: 0 25px 0 10px;
}
.cw-icon{
	position: relative;
	cursor: default;
	zoom:1;
}
.cw-icon i{
	display: block;
	position: absolute;
}
.ci-right{
	top: 12px;
	right: 11px;
	height: 7px;
	overflow: hidden;
	font: 400 15px/15px consolas;
	color: #6a6a6a;
	transition:transform .1s ease-in 0s;
}
.ci-right s{
	position: relative;
	top: -7px;
	text-decoration: none;
}

.dropdown .dd-spacer{
	left: 93px;
	width: 103px;
	position: absolute;
	top: 23px;
	height: 10px;
	background-color: #FFF;
	overflow: hidden;
	display: none;
}

.ui-areamini-content-list{
	position: absolute;
	top: 30px;
	width: 301px;
	border:1px solid #EBEBEB;
	padding: 0 3px 3px 3px;
	display: none;
}
.ui-areamini-content-list .item{
	float: left;
	width: 60px;
	line-height: 30px;
}
.ui-areamini-content-list .item a{
	color: #666666;
	text-decoration: none;
	padding: 5px 8px;
}
.ui-areamini-content-list .item a:hover{
	background-color: #F5F5F5;
	color: #C91622;
}
.dropdown:hover .dt{
	background-color: #FFF;
	border:1px solid #EBEBEB;
}
.dropdown:hover .dd-spacer{
	display: block;
	z-index: 3;
}
.dropdown:hover .ui-areamini-content-list{
	display: block;
}

/*header-right*/
.fr{
	float: right;
}
.fr li{
	display: inline;
}
.fr .spacer{
	width: 1px;
	height: 12px;
	margin-top: 9px;
	padding: 0;
	background-color: #ddd;
	overflow: hidden;
}
.fr li a{
	text-decoration: none;
	color:#666666; 
}
.fr li a:hover{
	color: #C91622;
}