header{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #F1F1F1;
}
.container{
	margin-right: auto;
	margin-left: auto;
}
@media screen and (min-device-width:768px){
	.container{
		width: 750px;
	}
}
@media screen and (min-device-width:992px){
	.container{
		width: 970px;
	}
}
@media screen and (min-device-width:1200px){
	.container{
		width: 1180px;
	}
}
.clear{
	clear: both;
}
header ul{
	list-style-type: none;
	font-size: 0.84em;
}
.fl{
	float: left;
}
li:hover .ci-right{
	transform:rotate(180deg);
}
.dropdown{
	position: relative;
}
.dropdown .dt{
	position: relative;
	padding: 0 25px 0 10px;
}
.cw-icon{
	position: relative;
	cursor: default;
	zoom:1;
}
.cw-icon i{
	display: block;
	position: absolute;
	overflow: hidden;
}
.ci-right{
	top: 12px;
	right: 11px;
	height: 7px;
	overflow: hidden;
	font: 400 15px/15px consolas;
	color: #6a6a6a;
	transition:transform .1s ease-in 0s;
}
.ci-right s{
	position: relative;
	top: -7px;
	text-decoration: none;
}
.dropdown .dd{
	position: absolute;
}
.dropdown .dd-spacer{
	left: 1px;
	width: 89px;
	position: absolute;
	top: 23px;
	height: 10px;
	display: none;
	overflow: hidden;
	z-index: 100;
}

.ui-areamini-content-list{
	position: absolute;
	top: 30px;
	width: 301px;
	border:1px solid #EBEBEB;
	padding: 0 3px 3px 3px;
	display: none;
}
.ui-areamini-content-list .item{
	float: left;
	width: 60px;
	line-height: 30px;
}
.ui-areamini-content-list .item a{
	color: #666666;
	text-decoration: none;
	padding: 5px 8px;
}
.ui-areamini-content-list .item a:hover{
	background-color: #F5F5F5;
	color: #C91622;
}
.dropdown:hover .dt{
	background-color: #FFF;
	/*border:1px solid #EBEBEB;*/
}
/*.dropdown:hover .dd-spacer{
	display: block;
	z-index: 200;
	background-color: #FFF;
}*/
/*.dropdown:hover .ui-areamini-content-list{
	display: block;
	z-index: 100;
}*/

/*header-right*/
.fr{
	float: right;
	height: 30px;
	line-height: 30px;
}
.fr li{
	display:block;
	float: left;
	height: 30px;
	padding: 0 2px;
}
.fr .spacer{
	width: 1px;
	height: 12px;
	margin-top: 9px;
	padding: 0;
	background-color: #ddd;
	overflow: hidden;
}
.fr li a{
	text-decoration: none;
	color:#666666; 
}
.fr li .style-red{
	color: #C81623;
}
.fr li a:hover{
	color: #C91622;
}
.fr .dt{
	padding: 0 8px;
}
#ttbar-apps .dt .ci-left{
	position: absolute;
	display: block;
	overflow: hidden;
	top: 5px;
	left: 7px;
	width: 15px;
	height: 20px;
	background:url(http://misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/jd2015img.png) 0 0 no-repeat;
}
.fr #ttbar-apps .dt{
	padding-left: 25px;
	padding-right: 25px;
}

/*w*/
.w{
	padding-bottom: 10px;
}
.w #logo-2014{
	float: left;
	padding-top: 20px;
	width: 362px;
	height: 60px;
}
.w #logo-2014 .logo{
	background: url(http://misc.360buyimg.com/lib/img/e/logo-201305.png) no-repeat 0 0;
	display: block;
	width: 270px;
	height: 60px;
	text-indent: -20000px;
}
#search-2014{
	padding-top: 20px;
	float: left;
}
#search-2014 .form{
	height: 36px;
}
#search-2014 .text{
	float: left;
	width: 400px;
	height: 24px;
	line-height: 24px;
	padding:4px;
	border-color: #B61D1D;
	border-width: 2px 0 2px 2px;
	border-style: solid;
	font-size: 14px;
	font-family: "microsoft yahei"
}
#search-2014 .button{
	float: left;
	width: 82px;
	height: 36px;
	background-color: #B61D1D;
	color: #FFF;
	border:none;
	font-size: 16px;
	font-family: "microsoft yahei"
}
#settleup-2014{
	padding-top: 20px;
	float: right;
	margin-right: 65px;
}
#settleup-2014 .cw-icon{
	width: 75px;
	height: 34px;
	line-height: 34px;
	border:1px solid #DFDFDF;
	background-color: #F9F9F9;
	text-align: center;
	padding:0 28px 0 36px;
}
#settleup-2014 .ci-left{
	top: 9px;
	left: 18px;
	width: 18px;
	height: 16px;
	background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/jd2015img.png) 0 -58px no-repeat;
}
#settleup-2014 .ci-right{
	top: 10px;
	right: 10px;
	width: 7px;
	height: 13px;
	overflow: hidden;
	font: 400 13px/13px simsun;
	color: #999;
}
#settleup-2014 .ci-count{
	position: absolute;
	top: -3px;
	left: 104px;
	color: #fff;;
	background-color: #C81623;
	border-radius: 7px 7px 7px 0;
	display: inline-block;
	min-width: 12px;
	text-align: center;
	line-height: 12px;
}
#hotwords{
	float: left;
	margin-top: 8px;
	height: 20px;
	line-height: 20px;
}
#hotwords a{
	margin-right: 10px;
	white-space: nowrap;
	color: #666;
}
#hotwords a:hover{
	color: #C91622;
}

#nav-2014{
	border-bottom: 2px solid #B1191A;
}
#nav-2014 .dt{
	float: left;
}
#nav-2014 .dt a{
	color: #FFFFFF;
	background-color:#B1191A;
	font:400 15px/44px "microsoft yahei";
	width: 190px;
	height: 44px;
	display: block;
	padding: 0 10px; 
	text-align: left;
}
#nav-2014 .nav-right{
	float: left;
}
#nav-2014 .nav-right li{
	display: inline-block;
	font:400 16px/44px "microsoft yahei";
	height: 44px;
}
#nav-2014 .nav-right a{
	padding: 0 20px;
	text-align: center;
}
#nav-2014 .nav-right a:hover{
	color: #C91622;
}
#focus .focus-left{
	float: left;
}
#focus .focus-left .item-f h3{
	width: 210px;
	padding: 0 10px;
	background-color: #C81623;
	position: relative;
	border-left: 1px solid #C81623;
	box-sizing: border-box;
}
#focus .focus-left .item-f a{
	color: #FFF;
	font: 400 14px/30px "microsoft yahei";
}
#focus .focus-left .item-f i{
	position: absolute;
	width: 4px;
	height: 14px;
	top: 9px;
	right: 14px;
	font: 400 9px/14px consolas;
	color: #FFF;
}
#focus .focus-left .item-f h3:hover{
	background-color: #F7F7F7;
	border-left: 1px solid ##F7F7F7;
}
#focus .focus-left .item-f:hover a{
		color: #B71C1C;
}
#focus .item-hide{
	float: left;
	width: 945px;/*宽度稍后要调整*/
	padding: 20px 0 0 20px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #B71C1C;
	border-right: 1px solid #B71C1C;
	display: none;
}
#focus .item-hide-l{
	float: left;
	width: 80%;
}
#focus .item-list{
	display: inline-block;
}
#focus .item-body{
	float: left;
	display: inline-block;
}
#focus .item-body dt,dd{
	display: inline-block;
}
#focus .item-list a{
	display: inline-block;
	color: #FFF;
	background-color: #7C7171;
	padding: 0 0 0 8px;
	margin-right: 10px;
	height: 24px;
	line-height: 24px;
}
#focus .item-list i{
	color: #FFF;
	background-color: #5c5251;
	width: 23px;
	height: 24px;
	font: 400 9px/24px consolas;
	display: inline-block;
	text-align: center;
	margin-left: 8px;
}
#focus .item-list a:hover{
	color: #FFF;
	background-color: #C91622;
}
#focus .item-list a:hover i{
	background-color: #B1181A;
}
#focus .item-body{
	margin-top: 1em;
	/*line-height: 2em;*/
}
#focus .item-body dl{
	width: 100%;
}
#focus .item-body dt{
	width: 75px;
	margin-right: 10px;
	text-align: right;
	float: left;
	line-height: 36px;
}
#focus .item-body i{
	width: 23px;
	height: 24px;
	font: 400 9px/24px consolas;
	display: inline-block;
	text-align: center;
}
#focus .item-body dd{
	width: 620px;
	padding: 6px 0;
	border-bottom: 1px solid #EDEEED;
}
#focus .item-body dd a{
	float: left;
	padding: 0 8px;
	margin: 4px 0;
	line-height: 16px;
	border-left: 1px solid #e0e0e0;
	white-space: nowrap;
}
#focus .item-hide:hover{
	display: block;
}