*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
	font-family: 'JosefinSans-Regular','Lato',sans-serif;
}
@font-face{
	font-family: 'JosefinSans-Regular';
	src:url(../fonts/JosefinSans-Regular.ttf) format('truetype');
}
@font-face{
	font-family: 'JosefinSans-Bold';
	src:url(../fonts/JosefinSans-Bold.ttf) format('truetype');
}
@font-face{
	font-family: 'JosefinSans-Light';
	src:url(../fonts/JosefinSans-Light.ttf) format('truetype');
}
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-device-width:768px){
	.container{
		width: 750px;
	}
}
@media screen and (min-device-width:992px){
	.container{
		width: 970px;
	}
}
@media screen and (min-device-width:1200px){
	.container{
		width: 1170px;
	}
}
.clear{
	clear: both;
}
/*header部分*/
#header{
	background-color: #00A0DC;
}
.container ul{
	line-height: 3em;
}
.top-sec ul li{
	list-style: none;
	padding-right: 0.5em;
	color: #fff;
}
.top-sec ul li a{
	color: #fff;
	text-decoration: none;	
}
.top-sec ul li a:hover{
	color: rgb(52,52,52);
}
.container ul li{
	float: left;	
}
/*header-right*/
.header-right {
	float: right;
}
/*wedding-store*/
#wedding-store{
	padding-top: 2em;
	padding-bottom: 2em;
}
.wedding-left{
	float: left;
	/*padding-right: 5em;*/
}
.wedding-left h1{
	font-size: 2.5em;
	font-weight: 1000;
}
/*wedding-middle*/
.wedding-middle{
	float: left;
	width: 65%;
	text-align: center;
}
.wedding-middle ul{
	/*text-align: center;
	margin: 0 auto;
	padding-left: 3em;*/
	zoom:1;
	display: inline-block;
	*display: inline;
	margin: 0 auto;
}
.wedding-middle ul li{
	/*zoom:1;
	display: inline-block;
	*display: inline;*/
}
.wedding-middle ul li{
	list-style: none;
	padding-right: 2em;
	padding-left: 3em;
	font-size: 15px;
}
.wedding-middle ul li a.li-home{
	color: #00A0DC;
	text-decoration: none;
	font-weight: 700;

}
.wedding-middle ul li a.li-another{
	color: #CACCCE;
	text-decoration: none;
	font-weight: 700;
}
.wedding-middle ul li a.li-another:hover{
	color: #01A2DD;
}
/*wedding-right*/
.wedding-right{
	float: right;
	width: 15%;
	margin-top: 1em;
}
.wedding-right a{
	text-decoration: none;
	/*padding-right: 3em;*/
}
.wedding-right .simpleCart_empty{
	color: rgba(204,204,204,1);
	font-size: 0.85em;
	text-decoration: none;
}
.glyphicon-shopping-cart:before{
	margin-left: 5px;
	font-size: 1.2em;
}
..glyphicon-shopping-cart:before{
	content: "\e116";
}
.row{
	position: absolute;
	background-color: #fff;
	width: 41%;
	top: 120px;
	left: 29.7%;
	z-index: 99;
	padding: 20px 30px 20px;
	border:solid 1px #ccc;
	box-sizing:border-box;
	display: none;
}
.row dl{
	float: left;
	box-sizing:border-box;
	width: 31.97%;
}
.row dl dt{
	color: #00A0DC;
	font-size: 1.3em;
	font-weight: 600;
	text-align: left;
}
.row dl dd a{
	color: #181b2a;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
}
/*banner部分*/
.banner-img{
	width: 100%;
}
/*welcome部分*/
.welcome{
	padding-top: 3em;
	padding-bottom: 3em;
}
.welcome-left{
	font-size: 3em;
	font-weight: 700;
	color: #00A0DC;
	width: 20%;
	float: left;
}
.welcome-right{
	float: right;
	width: 75%;
}
.welcome-right h2{
	color: #333333;
}
.welcome-right p{
	color: #999999;
	padding-top: 1em;
	line-height: 1.5em;
}
/*pictures部分*/
.pic-1{
	width: 33.333333%;
}
.picture-left{
	float: left;
}
.picture-middle{
	float: left;
}
.picture-right{
	float: right;
}
figure img{
	width: 100%;
}
figure p{
	padding-bottom: 1.1em;
    padding-top: 0.8em;
    font-size: 2em;
}
.pic-middle img{
	width: 100%;
}
.pic-middle p{
	font-size: 2em;
	padding-bottom: 1.1em;
    padding-top: 0.8em;
}
.pic-left{
	margin-left: 10px;
	margin-right: 10px;
}
.pic-middle{
	margin-left: 10px;
	margin-right: 10px;
}
.pic-right{
	margin-left: 10px;
	margin-right: 10px;
}
/*feature部分*/
.feature{
	padding-top: 3em;
    padding-bottom: 3em;
}
.feature-top h2{
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	color: #00A0DC;
}
.feature-bottom{
	padding-top: 2em;
}
.fea-1{
	width: 25%;
	float: left;
	text-align: center;	
}
.fea-1 a{
	text-decoration: none;
}
.fea-2{
	padding: 1em;
}
.fea-1 a .fea-2 img{
	padding:0em 2em 1em 2em;
	vertical-align: middle;
}
.arrival-info{
	padding-top: 1em;
}
.arrival-info h4{
	color: #caccce;
	font-size: 0.9em;
	text-transform: uppercase;
}
.arrival-info p{
	color: #000;
	font-size: 1em;
	font-weight: 600;
	margin: 10px 0 5px;
}
.pricl{
	color: #adadad;
	font-size: 0.95em;
}
.disc{
	color: rgba(7,152,40,0.69);
	font-size: 0.85em;
}
/*arrivals部分*/
.arrivals{
	padding-bottom: 2em;
}
.arrivals-head{
	padding-bottom: 2em;
}
.arrivals-head h2{
	text-align: center;
	color: #00A0DC;
	font-size: 2.3em;
	font-weight: 700;
}
/*shopping部分*/
.shopping{
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: #EEEEEE;
}
.shop-1{
	width: 33.333333%;
	float: left;
	text-align: center;
	text-transform: uppercase;
}
.shop-2{
	border-right: 2px solid #B7B7B7;
}
.shop-1 h2{
	font-family: 'JosefinSans-Bold';
	color: #333333;
	font-size: 2em;
	font-weight: 700;
}
.shop-1 p{
	font-family: 'JosefinSans-Light';
	color: #CC7777;
	font-size: 1.5em;
	font-weight: 200;
	padding-top: 0.5em;
}
/*footer部分*/
.footer{
	padding-top: 3em;
	padding-bottom: 3em;
}
.footer-top-1{
	float: left;
	width: 25%;
}
.footer-top-1 dl{
	margin-right: 2em;
}
.footer-top-1 dl dt{
	color: #646464;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 1em;
	font-size: 1.5em;
}
.footer-top-1 dl dd a{
	text-decoration: none;
	color: #777777;
	font-size: 1em;
	line-height: 1.5em;
}
.footer-top-1 dl dd a:hover{
	color: #00A1DD;
}
.footer-bottom{
	padding-top: 2em;
}
.footer-bottom p{
	color: #999999;
	font-size: 0.9em;
}
.footer-bottom p a{
	color: #999999;
	text-decoration: none;
	font-size: 0.9em;
}
.footer-bottom p a:hover{
	text-decoration: underline;
	color: #999;
}