*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
body{
	font-size: 14px;
	font-family: 'JosefinSans-Regular','Lato',sans-serif;
}
@font-face{
	font-family: 'JosefinSans-Regular';
	src:url(../fonts/JosefinSans-Regular.ttf) format('truetype');
}
@font-face{
	font-family: 'JosefinSans-Bold';
	src:url(../fonts/JosefinSans-Bold.ttf) format('truetype');
}
@font-face{
	font-family: 'JosefinSans-Light';
	src:url(../fonts/JosefinSans-Light.ttf) format('truetype');
}
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-device-width:768px){
	.container{
		width: 750px;
	}
}
@media screen and (min-device-width:992px){
	.container{
		width: 970px;
	}
}
@media screen and (min-device-width:1200px){
	.container{
		width: 1170px;
	}
}
.clear{
	clear: both;
}
/*header部分*/
#header{
	background-color: #00A0DC;
}
#header .container ul{
	line-height: 3em;
}
.top-sec ul li{
	list-style: none;
	padding-right: 0.5em;
	color: #fff;
}
.top-sec ul li a{
	color: #fff;
	text-decoration: none;	
}
.top-sec ul li a:hover{
	color: rgb(52,52,52);
}
.container ul li{
	float: left;	
}
/*header-right*/
.header-right {
	float: right;
}
/*wedding-store*/
#wedding-store{
	padding-top: 2em;
	padding-bottom: 2em;
}
.wedding-left{
	float: left;
	/*padding-right: 5em;*/
}
.wedding-left h1{
	font-size: 2.5em;
	font-weight: 1000;
}
/*wedding-middle*/
.wedding-middle{
	float: left;
	width: 65%;
	text-align: center;
	padding-top: 1em;
}
.wedding-middle ul{
	/*text-align: center;
	margin: 0 auto;
	padding-left: 3em;*/
	zoom:1;
	display: inline-block;
	*display: inline;
	margin: 0 auto;
}
.wedding-middle ul li{
	/*zoom:1;
	display: inline-block;
	*display: inline;*/
}
.wedding-middle ul li{
	list-style: none;
	padding-right: 2em;
	padding-left: 3em;
	font-size: 15px;
}
.wedding-middle ul li a.li-home{
	color: #00A0DC;
	text-decoration: none;
	font-weight: 700;

}
.wedding-middle ul li a.li-another{
	color: #CACCCE;
	text-decoration: none;
	font-weight: 700;
}
.wedding-middle ul li a.li-another:hover{
	color: #01A2DD;
}
.row{text-align: left;}
.row dl dd a:hover{color: #FF6861;}
/*wedding-right*/
.wedding-right{
	float: right;
	width: 15%;
	margin-top: 1em;
}
.wedding-right a{
	text-decoration: none;
	/*padding-right: 3em;*/
}
.wedding-right .simpleCart_empty{
	color: rgba(204,204,204,1);
	font-size: 0.85em;
	text-decoration: none;
}
.glyphicon-shopping-cart:before{
	margin-left: 5px;
	font-size: 1.2em;
}
..glyphicon-shopping-cart:before{
	content: "\e116";
}
.row{
	position: absolute;
	background-color: #fff;
	width: 41%;
	top: 120px;
	left: 29.7%;
	z-index: 99;
	padding: 20px 30px 20px;
	border:solid 1px #ccc;
	box-sizing:border-box;
	display: none;
	line-height: 2em;
}
.row dl{
	float: left;
	box-sizing:border-box;
	width: 31.97%;
}
.row dl dt{
	color: #00A0DC;
	font-size: 1.3em;
	font-weight: 600;
	text-align: left;
}
.row dl dd a{
	color: #181b2a;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
}
/*banner部分*/
.banner-img{
	width: 100%;
}
/*welcome部分*/
.welcome{
	padding-top: 3em;
	padding-bottom: 3em;
}
.welcome-left{
	font-size: 3em;
	font-weight: 700;
	color: #00A0DC;
	width: 20%;
	float: left;
}
.welcome-right{
	float: right;
	width: 75%;
}
.welcome-right h2{
	color: #333333;
}
.welcome-right p{
	color: #999999;
	padding-top: 1em;
	line-height: 1.5em;
}
/*pictures部分*/
.pic-1{
	width: 33.333333%;
	box-sizing:border-box;
}
.picture-left{
	float: left;
}
.picture-middle{
	float: left;
}
.picture-right{
	float: right;
}
figure p{
	padding-bottom: 1.1em;
    padding-top: 0.8em;
    font-size: 2em;
}
.pic-middle img{
	width: 100%;
}
.left-p p{
	font-size: 2em;
	padding-bottom: 1.1em;
    padding-top: 0.8em;
}
.pic-left-one figure{position: relative;}
figure img{position: relative;display: block;width: 100%;}
.pic-left-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}
/*figcaption 动态出现的部分*/
/*.pic-left-one figure figcaption{
	color:#fff;padding: 2em;text-align: center;}
figcaption h2{padding-top: 2em;}
figcaption p{font-size: 1.25em;}*/
figure.effect-bubba {background-color: #00a0dc;}
figure.effect-bubba:hover img{opacity: 0.3;}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after{
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: "";
	opacity: 0;
	transition:opacity0.35s,transform 0.35s;
}
figure.effect-bubba figcaption:before{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform:scale(0,1);
}
figure.effect-bubba figcaption:after{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	transform:scale(1,0);
}
figure.effect-bubba h2{
	padding-top: 2em;
	transition:transform 0.35s;
	transform:translated(0,-20px,0);
	opacity: 0;
}
figure.effect-bubba p{
	padding:15px 1em;
	opacity: 0;
	transition:opacity 0.35s,transform 0.35s;
	transform:translated(0,20px,0);
	font-size: 1.25em;
}
figure.effect-bubba:hover figcaption:before,
figure.effect-bubba:hover figcaption:after{
	opacity: 1;
	transform:scale(1);
}
figure.effect-bubba:hover h2,
figure.effect-bubba:hover p{
	opacity: 1;
	transform:translated(0,0,0);
}
.pic-left{
	margin-left: 10px;
	margin-right: 10px;
}
.pic-middle{
	margin-left: 10px;
	margin-right: 10px;
}
.pic-right{
	margin-left: 10px;
	margin-right: 10px;
}
/*feature部分*/
.feature{
	padding-top: 3em;
    padding-bottom: 3em;
}
.feature-top h2{
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	color: #00A0DC;
}
.feature-bottom{
	padding-top: 2em;
}
.fea-1{
	width: 25%;
	float: left;
	text-align: center;	
	position: relative;
	border: 2px solid #fff;
}
.fea-1 a{
	text-decoration: none;
}
.fea-2{
	padding: 1em;
}
.fea-1 a .fea-2 img{
	padding:0em 2em 1em 2em;
	vertical-align: middle;
}
/*动画*/
.fea-1-sp{
	position: absolute;
	width: 30%;
	height: 35px;
	line-height: 35px;
	background-color: #EFEFEF;
	text-align: center;
	display: none;
}
.fea-1-sp1{	
	left: 0;
	top: 0;
}
.fea-1-sp2{
	top: 0;
	right: 0;
}
.fea-1 .fea-1-sp a.fea-1-aa:hover{
	text-decoration: underline;
	color: #A5A5A5;
}
.feature-bottom .fea-1:hover{
	/*border: 2px solid #F4F4F4;*/
}
.fea-1:hover .fea-1-sp{
	display: block;
}
/*arrivals部分*/
.nbs-flexisel-item{
	width: 20%;
	float: left;
	margin: 0px;
	/*padding: 10px;*/
	cursor: pointer;
	position: relative;
	border:1px solid #fff;
}

.nbs-flexisel-item:hover{
	border: 1px solid #F0EFEF;
}
.nbs-flexisel-item:hover .fea-1-sp{
	display: block;
}
.nbs-flexisel-item > a img {	
	cursor:auto;
	position: relative;
	width: 90%;
  	/*margin: 0 5%;*/
}
.nbs-flexisel-item .fea-1-sp .fea-1-aa{
	color: #A5A5A5;
	text-decoration: none;
}
.nbs-flexisel-item .fea-1-sp .fea-1-aa:hover{
	text-decoration: underline;
}
.arrivals{
	padding: 2em 0;
}
.arrivals-head{
	padding-bottom: 2em;
}
.arrivals-head h2{
	text-align: center;
	color: #00A0DC;
	font-size: 2.3em;
	font-weight: 700;
}
.arrivals-bottom{
	position: relative;
}
.arrival-info{
	margin-top:1em;
	margin-bottom: 1em;
}
.arrival-info h4{
	color:#caccce;
	font-size:0.9em;
	font-family: 'JosefinSans-Bold';
	text-transform:uppercase;
}
.arrival-info p{
	color:#000;
	font-size:1em;
	font-weight:600;
	padding: 10px 0 5px;
}
span.pric1{
	color:#ADADAD;
	font-size:0.95em;
}
span.disc{
	color: rgba(7, 152, 40, 0.69);
  	font-size: 0.85em;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:-2em;
}
.nbs-flexisel-nav-left {
	left: -50px;
	background: url(../images/img-sprite-left-right.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
	right: -47px;
	background: url(../images/img-sprite-left-right.png) no-repeat -54px 0px;
}
/*shopping部分*/
.shopping{
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: #EEEEEE;
}
.shop-1{
	width: 33.333333%;
	float: left;
	text-align: center;
	text-transform: uppercase;
}
.shop-2{
	border-right: 2px solid #B7B7B7;
}
.shop-1 h2{
	font-family: 'JosefinSans-Bold';
	color: #333333;
	font-size: 2em;
	font-weight: 700;
}
.shop-1 p{
	font-family: 'JosefinSans-Light';
	color: #CC7777;
	font-size: 1.5em;
	font-weight: 200;
	padding-top: 0.5em;
}

/*footer部分*/
.footer{
	padding-top: 3em;
	padding-bottom: 3em;
}
.footer-top-1{
	float: left;
	width: 25%;
}
.footer-top-1 dl{
	margin-right: 2em;
}
.footer-top-1 dl dt{
	color: #646464;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 1em;
	font-size: 1.5em;
}
.footer-top-1 dl dd a{
	text-decoration: none;
	color: #777777;
	font-size: 1em;
	line-height: 1.5em;
}
.footer-top-1 dl dd a:hover{
	color: #00A1DD;
}
.footer-bottom{
	padding-top: 2em;
}
.footer-bottom p{
	color: #999999;
	font-size: 0.9em;
}
.footer-bottom p a{
	color: #999999;
	text-decoration: none;
	font-size: 0.9em;
}
.footer-bottom p a:hover{
	text-decoration: underline;
	color: #999;
}
/*account.html-start*/
.breadcrumb{
	list-style-type: none;
	background-color: #F5F5F5;
	line-height: 2.5em;
	margin-bottom: 2em;
}
.breadcrumb li{
	display: inline-block;
	padding-left: 15px;
}
.breadcrumb li a{
	color: #1B242F;
	text-decoration: none;
}
.breadcrumb li a:hover{
	color: #E74C3C;
	text-decoration: underline;
}
.breadcrumb .active{
	color: #999999;
}
.registration{
	margin-bottom: 4em;
}
.registration .register_left{
	width: 50%;
	float: left;
}
.registration .register_left h2{
	font-size: 2em;
}
.registration .register_left h2 span{
	color: #777777;
}
.registration .register_left #register_form{
	margin-top: 1em;
}
.registration .register_left #register_form div{
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.registration .register_left #register_form div input{
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.registration .register_left #register_form div input[type="radio"]{
	width: 5%;
}
.registration .register_left #register_form div input[type="button"]{
	font-size: 0.75em;
	display: inline-block;
	background-color: #00a0dc;
	padding:0.8em 2em;
	color: #fff;
	text-decoration: none;
	border: none;
	text-transform: uppercase;
	font-weight: 500;
	width: 40%;
}
.registration .register_left #register_form div input[type="button"]:hover{
	background-color: #323232;
	color: #E9E9E9;
}
.registration .register_left #register_form div input[type="checkbox"]{
	width: 5%;
}
.registration .register_left #register_form div .check-a{
	color: #999999;
}
.registration .register_left #register_form div .check-a:hover{
	color: #323232;
	text-decoration: none;
}
.registration .register_right{
	float: left;
	width: 50%;
	padding-left: 5%;
}
.registration .register_right h2{
	font-size: 2em;
}
.registration .register_right .register_form{
	margin-top: 1em;
}
.registration .register_right .register_form div{
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.registration .register_right .register_form div input{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.registration .register_right .register_form div input[type="button"]{
	font-size: 0.75em;
	display: inline-block;
	background-color: #00a0dc;
	padding:0.8em 2em;
	color: #fff;
	text-decoration: none;
	border: none;
	text-transform: uppercase;
	font-weight: 500;
	width: 27%;
}
.registration .register_right .register_form div input[type="button"]:hover{
	background-color: #323232;
	color: #E9E9E9;
}
.registration .register_right .register_form div .register-right-a{
	color: #999999;
}
.registration .register_right .register_form div .register-right-a:hover{
	text-decoration: none;
}
/*account.html-end*/
/*checkout-start*/
.contain-check {
	padding-bottom: 4em;
}
.contain-check .contain-check-left{
	width: 70%;
	float: left;
	margin-top: 1em;
	padding-left: 30px;
}
.contain-check .contain-check-left h3{
	font-size: 1.6em;
	color: #000;
	margin: 0 0 1em;
}
.contain-check .contain-check-left .in-check ul{
	list-style-type: none;
}
.contain-check .contain-check-left .in-check ul li{
	width: 20%;
	display: inline-block;
}
.contain-check .contain-check-left .in-check .unit{
	background-color: #333333;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
}
.contain-check .contain-check-left .in-check .unit li{
	color: #FFFFFF;
	font-size: 1.3em;
	padding-left: 10px;
}
.contain-check .contain-check-left .in-check .cart-header,.cart-header1{
	background-color: #F8F8F8;
	padding-top: 1em;
	padding-bottom: 1em;
	position: relative;
	border-bottom: #FF5D56 1px solid;
}
.contain-check .contain-check-left .in-check .cart-header .close1{
	background: url("../images/close.png") no-repeat 0px 0px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	position: absolute;
	right: 0;
	top: 0;
}
.contain-check .contain-check-left .in-check .cart-header a img{
	width: 100%;
}
.contain-check .contain-check-left .in-check .cart-header li{
	padding-left: 1em;
}
.contain-check .contain-check-left .in-check .cart-header li span{
	line-height: 4em;
	font-size: 1.2em;
}
.contain-check .contain-check-left .in-check .cart-header li .add-to-cart{
	line-height: 4em;
	padding: 10px;
	background-color: #00A0DC;
	color: #FFFFFF;
	text-decoration: none;
}	
.contain-check .contain-check-left .in-check .cart-header li .add-to-cart:hover{
	background-color: #565656;
}
/*cart-header1*/
.contain-check .contain-check-left .in-check .cart-header1 .close2{
	background: url("../images/close.png") no-repeat 0px 0px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	position: absolute;
	right: 0;
	top: 0;
}
.contain-check .contain-check-left .in-check .cart-header1 a img{
	width: 100%;
}
.contain-check .contain-check-left .in-check .cart-header1 li{
	padding-left: 1em;
}
.contain-check .contain-check-left .in-check .cart-header1 li span{
	line-height: 4em;
	font-size: 1.2em;
}
.contain-check .contain-check-left .in-check .cart-header1 li .add-to-cart{
	line-height: 4em;
	padding: 10px;
	background-color: #00A0DC;
	color: #FFFFFF;
	text-decoration: none;
}	
.contain-check .contain-check-left .in-check .cart-header1 li .add-to-cart:hover{
	background-color: #565656;
}
.contain-check .contain-check-right{
	padding-top: 6em;
	padding-left: 3em;
	float: left;
	width: 30%;
}
.conti-place .continue,.place{
	text-align: center;
}
.contain-check .contain-check-right .conti-place .continue .conti-a{
	background-color: #00A0DC;
	padding: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
	border-radius: 15px;

}
.contain-check .contain-check-right .conti-place .continue .conti-a:hover{
	background-color: #333333;
}
.conti-place .continue-main{
	text-align: left;
}
.contain-check .contain-check-right .conti-place .continue .continue-main{
	margin-top: 3em;
}
.contain-check .contain-check-right .conti-place .continue .continue-main h5{
	color: #333;
	font-size: 1em;
	margin-bottom: 1em;
}
.continue .continue-main span{
	width: 50%;
	float: left;
	padding: 1px 0;
	color: #000;
	line-height: 1.2em;
}
.contain-check .contain-check-right .conti-place .place{
	margin-top: 2em;
}
.conti-place .place .place-a{
	background-color: #333333;
	padding: 10px 20px 10px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.2em;
}
.conti-place .place .place-a:hover{
	background-color: #00A1DD;
	color: #fff;
}
.contain-check .contain-check-right .conti-place .place .continue-main{
	margin-top: 2em;
}
.continue-main .apply-a{
	background-color: #848C90;
	color: #333;
	padding: 5px 10px;
	text-decoration: none;
}
.continue-main .apply-a:hover{
	background-color: #20749F;
	color: #FFFFF1;
	text-decoration: underline;
}
.continue-main h3{
	color: #333;
	font-size: 1.4em;
	margin-bottom: 0.7em;
}
.continue-main h4{
	font-size: 1.2em;
	font-weight: 600;
	color: #9c9c9c;
	display: inline-block;
	margin-right: 6em;
}
.continue-main p{
	font-size: 1.2em;
	font-weight: 400;
	margin-top: 0.7em;
	color: #727272;
}
.continue-main .lig-a{
	color: #000;
	text-decoration: none;
}
.continue-main .lig-a:hover{
	text-decoration: underline;
}
/*checkout-end*/
/*contact-start*/
.contact-mian{
	padding-bottom: 4em;
}
.contact-head h2{
	font-size: 2.2em;
	color: #333;
	text-align: center;
	padding-bottom: 1em;
}
.contact-mian-left{
	width: 35%;
	float: left;
}
.contact-mian-right{
	width: 65%;
	float: left;
}
.contact-mian-left .findus{
	width: 80%;
}
.map .map-a{
	color:#666;
	text-align: left;
	font-size: 0.85em;
	text-decoration: none;
	line-height: 1em;
}
.map .map-a:hover{
	text-decoration: underline;
}
.company-info{
	padding-top: 1em;
}
.company-info h4,.findus h4{
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.5em;
	font-weight: 500;
	color: #00A0DC;
}
.company-info p{
	font-size: 1em;
	color: rgba(85,81,81,0.84);
	line-height: 1.8em;
}
.company-info p a{
	color: #18242F;
	text-decoration: none;
}
.company-info p a:hover{
	color: #E74C3C;
	text-decoration: underline;
}
.sapn_2_of_3 form span{
	display: block;
	font-size: 0.9em;
	padding-bottom: 5px;
	color: #012231;
	text-transform: uppercase;
}
.sapn_2_of_3 form input[type="text"],.sapn_2_of_3 form textarea{
	padding: 10px;
	display: block;
	width: 98%;
	color: #464646;
	font-size: 1.1em;
	border:1px solid rgba(85,85,85,0.19);
}
.sapn_2_of_3 form input[type="submit"]{
	background-color: #00A0DC;
	color: #fff;
	padding: 12px 30px;
	font-size: 1.1em;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
	border:2px solid #00A0DC;
}
.sapn_2_of_3 form input[type="submit"]:hover{
	background-color: #fff;
	color: #00A1DD;
}
.sapn_2_of_3 div{
	padding: 5px 0;
}
.sapn_2_of_3 textarea{
	resize:none;
	height: 120px;
}
/*contact-end*/
/*login-start*/
.login-mian{
	padding-bottom: 3em;
}
.login-mian h2{
	font-size: 2em;
	font-weight: 700;
	color: #000;
	padding-bottom: 0.5em;
}
.login-mian p{
	color: #A7A7A7;
	line-height: 1.6em;
	font-size: 1.2em;
}
.login-mian p a{
	color: #1A1818;

}
.login-mian form{
	padding-top: 1em;
}
.login-mian form div{
	width: 50%;
	padding-bottom: 0.5em;
}
.login-mian form div label{
	margin-bottom: 1em;
	font-size: 1.5em;
	color: #5D595E;
}
.login-mian input[type="text"],input[type="password"]{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 98%;
	border:1px solid #D6D6D6;
}
.login-btn{
	margin-top: 1em;
}
.login-mian .login-btn input{
	padding: 10px 20px;
	background-color: #00A0DC;
	color: #FFFFFF;
	border:0px solid #00A0DC;
	margin-right: 30px;
}
.login-mian .login-btn a{
	padding: 10px 20px;
	background-color: #00A0DC;
	color: #FFFFFF;
	border:0px solid #00A0DC;
	text-decoration: none;
}
.login-mian .login-btn a:hover{
	background-color: #CBCDCF;
	color: #FFFFFF;
}
/*login-end*/